
        <link rel="stylesheet" href="/css/userProfile.css">
        <h1>
            This is a user Profile account of <%=user.name%> .
        </h1>

        <p><%=user.name%></p>
        <p><%=user.email%></p>
      